SET FOREIGN_KEY_CHECKS = 0; ALTER TABLE tareas MODIFY COLUMN id INT AUTO_INCREMENT; INSERT INTO tareas (titulo, descripcion, estado) VALUES ('Test Tarea Autoinc', 'Verificando correccion', 'pendiente'); DELETE FROM tareas WHERE titulo = 'Test Tarea Autoinc'; SET FOREIGN_KEY_CHECKS = 1;
